@import "../../scss/mixins";
@import "../../scss/variables";

body {
    margin: 0 auto;
    @include fonts;
}

.navbar {
    width: 100%;
    margin: auto;
    padding: 10px 0px;
    float: none;
    clear: both;
    display: block;
    gap: 30px;
    position: fixed;
    display: flex;
    background-color: $color-white;
    z-index: 9999;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .05);


    &_logo {
        margin: auto;
    }

    img {
        height: 100px;
        margin: auto;

        @include tablette {
            height: 80px;
        }

        @include mobile {
            height: 60px;
        }
    }

    @include mobile {
        flex-direction: column;
        width: 100%;
        padding: 15px 0px;
        gap: 15px;
    }

    &_link {
        display: flex;
        margin: auto;
        align-items: center;
        font-size: 15px;
        padding: 0;
        gap: 50px;
        line-height: 1.3;
        letter-spacing: 3px;

        @include mobile {
            font-size: 13px;
            gap: 26px;
            text-transform: uppercase;
            margin-bottom: 8px;
        }

        li {
            list-style-type: none;
        }

        a {
            text-decoration: none;
            color: $color-black;
            cursor: pointer;

            &active,
            &:hover {
                color: $color-gold;
            }
        }
    }
}