@import "../../scss/mixins";
@import "../../scss/variables";

.footer {
    background-color: $color-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;

    &_logo {
        height: 70px;

        @include mobile {
            height: 55px;
        }
    }

    &_github {
        height: 30px;
        margin: 10px;

        @include mobile {
            height: 25px;
        }
    }

    &_linkedin {
        height: 40px;
        margin-top: 3px;

        @include mobile {
            height: 35px;
        }
    }

    &_email {
        height: 50px;

        @include mobile {
            height: 45px;
        }
    }

    ul {
        background-color: $color-white;
        margin-bottom: 20px;
        display: flex;
        gap: 20px;
        padding: 0 15px;
        margin: 0px 0px 20px;
        border-radius: 30px;

        li {
            list-style: none;
        }

    }

    @include mobile {
        gap: 12px;
        padding: 15px 0px;
    }
}