// Breakpoints 

@mixin mobile {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin tablette {
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width:1024px) {
        @content;
    }
}

// Fonts 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap');

@mixin fonts {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Gistesy';
    src: url('../assets/Gistesy.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@mixin fonts-gistesy {
    font-family: 'Gistesy';
    font-style: normal;
    font-weight: 500;
}